body { 
  background-color: #1C1C1C;
  margin: 0px;
  }

div {
  text-align: center;
  color: white;
  }

h1 {
  text-align: center;
  color: white;
}

p
{
  border: 2px solid #1C1C1C;
}

.container {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.box {
width: 300px;
height: 300px;
background: #fff;
}